.category_container {
    margin: 20px;
    padding: 30px 20px;
    width: auto;
    box-shadow: 0px 10px 25px rgb(206 206 206 / 50%);
}

.category_title_div>h2::after {
    content: '';
    margin-left: 5px;
    margin-top: 7px;
    width: 150px;
    height: 7px;
    border-radius: 20px;
    display: block;
    background-color: #1976d2;
}

.category_inner_container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.MuiPaperDiv {

    background-color: rgb(128 128 128 / 11%);
    margin: 10px;
}

.category_card {
    width: 285px;
    min-height: 285px;

}

.category_card_imgDiv {
    position: relative;
    width: 100%;
    height: 285px;
}

.category_card_imgDiv>img {
    object-fit: cover;
}

.category_card_content {
    text-align: center;
    margin: 20px auto;
}

@font-face {
    font-family: myFirstFont;
    src: url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

}

.viewMorebtnDiv {
    display: flex;
    justify-content: flex-end;
}

.viewMoreBtn {
    width: 120px;
    height: 50px;
    margin: 20px;
}

@media only screen and (max-width:600px) {
    .category_container {
        margin: 20px 10px;
        padding: 10px 0;
        box-shadow: none;

    }

    .category_card {
        width: 350px;

    }
    .category_card_imgDiv{
        height: 400px;
    }
}