.drive_container{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.drive_content{
    display: flex;
    align-items: center;

}
.drive_content>h1{
    margin-right: 20px;
    color: green;
}
.drive_content>h1::after{
    content: '';
    width: 200px;
    height: 10px;
    display: block;
    border-radius: 10px;
    background-color: #1976d2;
}